// colors
$accentColor = #ff4b55
$textColor = #000000
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #ff4b55
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #55D109

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px